config/Sicherung_2016-03-02 Holzher.json
[{"id":"d2a8553a.2d57a8","type":"mqtt-broker","broker":"192.168.144.232","port":"1883","clientid":""},{"id":"65be1592.9a41ec","type":"exec","command":".\\NDDE\\poli40DDEClient.exe","append":"","useSpawn":true,"name":"adapter","x":83.66665649414062,"y":194.6666717529297,"z":"5290c169.ad6f4","wires":[["14561693.eba9e9"],[],[]]},{"id":"423ff8a3.bdc008","type":"inject","name":"start adapter","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":100.66665649414062,"y":37.66668701171875,"z":"5290c169.ad6f4","wires":[["741e99a9.8be168"]]},{"id":"75d75b0e.8a28a4","type":"file","name":"adapterlog","filename":"adapterlog.txt","appendNewline":true,"overwriteFile":false,"x":444.33331298828125,"y":58.00001525878906,"z":"5290c169.ad6f4","wires":[]},{"id":"741e99a9.8be168","type":"exec","command":"taskkill /f /im poli40DDEClient.exe","append":"","useSpawn":"","name":"stop running","x":109.66665649414062,"y":118.66667938232422,"z":"5290c169.ad6f4","wires":[["65be1592.9a41ec"],[],[]]},{"id":"cdc5dc00.323a2","type":"debug","name":"debug","active":false,"console":"false","complete":"false","x":587.6666870117188,"y":481.6666564941406,"z":"5290c169.ad6f4","wires":[]},{"id":"12adb65.fed524a","type":"tcp out","host":"","port":"7878","beserver":"server","base64":false,"end":false,"name":"MTConnectOut","x":883.0555419921875,"y":38.888885498046875,"z":"5290c169.ad6f4","wires":[]},{"id":"d095e45f.2f6a18","type":"function","name":"createSHDR","func":"var outputMsgs = [];\nvar messages = msg.payload.toString().split(/\\0/);\nfor (var m in messages) {\n  var strbuff = messages[m].trim();\n  if (strbuff.length >0){\n    outputMsgs.push({payload: messages[m]});\n  }\n}\nreturn [ outputMsgs ];\n ","outputs":1,"x":106.66665649414062,"y":317.6666564941406,"z":"5290c169.ad6f4","wires":[[]]},{"id":"f0f1812a.0f0e8","type":"tcp out","host":"192.168.144.234","port":"4556","beserver":"client","base64":false,"end":false,"name":"Eyevision","x":869,"y":277,"z":"5290c169.ad6f4","wires":[]},{"id":"217d296b.de82d6","type":"template","name":"Add Delimiter '#'","field":"payload","template":"{{payload}}#","x":848,"y":194,"z":"5290c169.ad6f4","wires":[["f0f1812a.0f0e8"]]},{"id":"14561693.eba9e9","type":"SHDR","name":"","x":247,"y":203,"z":"5290c169.ad6f4","wires":[["6148c9f6.9eb738"]]},{"id":"6e01e305.91fe1c","type":"file","name":"shdrlog","filename":"shdrlog.txt","appendNewline":true,"overwriteFile":false,"x":857,"y":348,"z":"5290c169.ad6f4","wires":[]},{"id":"9a9b039.f6565","type":"switch","name":"GeschwindigkeitXYZ","property":"payload","rules":[{"t":"cont","v":"Geschwindigkeit"},{"t":"else"}],"checkall":"true","outputs":2,"x":454,"y":337,"z":"5290c169.ad6f4","wires":[["7bebbbd7.841444"],["12adb65.fed524a","217d296b.de82d6","cdc5dc00.323a2","b582fad8.4a7d08"]]},{"id":"7bebbbd7.841444","type":"function","name":"noisefilter","func":"context.lastX = context.lastX || Number.MAX_VALUE;    \ncontext.lastY = context.lastY || Number.MAX_VALUE;    \ncontext.lastZ = context.lastZ || Number.MAX_VALUE;    \n\nvar tolerance = 0.009;\nvar returnFlag = false;\nvar arr = msg.payload.split(\"|\");\n\nvar currName = arr[1];\nvar currValue = arr[2];\n\nswitch (currName) {\n    case \"GeschwindigkeitX\":\n        if (Math.abs(context.lastX - currValue) > tolerance) {\n\t\t\tcontext.lastX = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n    case \"GeschwindigkeitY\":\n        if (Math.abs(context.lastY - currValue) > tolerance) {\n\t\t\tcontext.lastY = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n    case \"GeschwindigkeitZ\":\n        if (Math.abs(context.lastZ - currValue) > tolerance) {\n\t\t\tcontext.lastZ = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n}\n\nif (returnFlag === true) return msg;","outputs":1,"x":439,"y":150,"z":"5290c169.ad6f4","wires":[["12adb65.fed524a","217d296b.de82d6","b582fad8.4a7d08"]]},{"id":"6148c9f6.9eb738","type":"function","name":"delNulls","func":"var nullPos = msg.payload.indexOf(\"\\0\");\nif (nullPos != -1) {\n\tmsg.payload = msg.payload.substring(0, nullPos);\n}\nreturn msg;","outputs":1,"x":244,"y":276,"z":"5290c169.ad6f4","wires":[["9a9b039.f6565"]]},{"id":"b582fad8.4a7d08","type":"mqtt out","name":"eappsOUT","topic":"test","qos":"0","retain":"","broker":"d2a8553a.2d57a8","x":796,"y":478,"z":"5290c169.ad6f4","wires":[]},{"id":"6fb970fd.90469","type":"exec","command":"..\\VideoLAN\\server_rtp.cmd","append":"","useSpawn":true,"name":"VLC streaming server","x":460,"y":599,"z":"5290c169.ad6f4","wires":[["13078b3.fecf875"],["13078b3.fecf875"],["13078b3.fecf875"]]},{"id":"79458762.86ba78","type":"inject","name":"start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":210,"y":601,"z":"5290c169.ad6f4","wires":[["6fb970fd.90469"]]},{"id":"13078b3.fecf875","type":"debug","name":"vlc debug","active":true,"console":"false","complete":"false","x":731,"y":596,"z":"5290c169.ad6f4","wires":[]},{"id":"c3fd2856.3c02d8","type":"inject","name":"stop","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":216,"y":695,"z":"5290c169.ad6f4","wires":[["edd78087.12288"]]},{"id":"edd78087.12288","type":"exec","command":"taskkill /f /im vlc.exe","append":"","useSpawn":false,"name":"VLC","x":466,"y":693,"z":"5290c169.ad6f4","wires":[[],[],[]]}]