config/Sicherung_2016_03_02_eapps4production_server.json
[{"id":"24d51688.db2aea","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"a6762620.5989d8","type":"mqtt in","name":"HolzherIN","topic":"test","broker":"24d51688.db2aea","x":453,"y":119,"z":"53c8489d.ac37b8","wires":[["db12c008.24ed4"]]},{"id":"9b0b70d.f64f49","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":830,"y":138,"z":"53c8489d.ac37b8","wires":[]},{"id":"db12c008.24ed4","type":"function","name":"LenzPumpe","func":"//context.lastX = context.lastX || Number.MAX_VALUE;    \n//context.lastY = context.lastY || Number.MAX_VALUE;    \n//context.lastZ = context.lastZ || Number.MAX_VALUE;    \n//context.lastRPM = context.lastRPM || Number.MAX_VALUE;;    \n\ncontext.lastX = context.lastX || \"undefined\";    \ncontext.lastY = context.lastY || \"undefined\";    \ncontext.lastZ = context.lastZ || \"undefined\";    \ncontext.lastRPM = context.lastRPM || \"undefined\";;    \ncontext.lastActBlock = context.lastActBlock || \"undefined\";;    \ncontext.Bahngeschwindigkeit = context.Bahngeschwindigkeit || \"undefined\";;    \n//x\n\nvar tolerance = 0.009;\nvar returnFlag = false;\nvar arr = msg.payload.split(\"|\");\n\nvar currName = arr[1];\nvar currValue = arr[2];\nvar timestamp = arr[0];\n\nswitch (currName) {\n    case \"Bahngeschwindigkeit\":\n    if (context.Bahngeschwindigkeit != currValue) {\n\t\tcontext.Bahngeschwindigkeit = currValue;\n   \t\treturnFlag = true;\n    };\n    break;\n    case \"ActBlock\":\n    if (context.lastActBlock != currValue) {\n\t\tcontext.lastActBlock = currValue;\n   \t\treturnFlag = true;\n    };\n    break;\n    case \"Drehzahl\":\n        if (context.lastRPM != currValue) {\n\t\t\tcontext.lastRPM = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n    case \"WegInfoGeoAxisX\":\n        if (context.lastX != currValue) {\n\t\t\tcontext.lastX = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n    case \"WegInfoGeoAxisY\":\n        if (context.lastY != currValue) {\n\t\t\tcontext.lastY = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n    case \"WegInfoGeoAxisZ\":\n        if (context.lastZ != currValue) {\n\t\t\tcontext.lastZ = currValue;\n       \t\treturnFlag = true;\n        };\n        break;\n}\n\nvar newMsg = {};\nvar payload = {};\npayload.timestamp = timestamp;\npayload.X = context.lastX;\npayload.Y = context.lastY;\npayload.Z = context.lastZ;\npayload.Drehzahl = context.lastRPM;\npayload.NC = context.lastActBlock;\npayload.Bahngeschwindigkeit = context.Bahngeschwindigkeit;\n\nnewMsg.payload = payload;\n//return newMsg;\nif (returnFlag === true) return newMsg;","outputs":1,"noerr":0,"x":630,"y":125,"z":"53c8489d.ac37b8","wires":[["9b0b70d.f64f49","f782402f.087dc"]]},{"id":"44b95525.bb46ac","type":"http request","name":"lenz","method":"PUT","ret":"txt","url":"http://localhost:8080/cuttingpath/rest/jsonInput","x":364,"y":336,"z":"53c8489d.ac37b8","wires":[["c1af6b62.3e5098"]]},{"id":"b14f3193.4eb0d","type":"inject","name":"","topic":"","payload":"{ \"timestamp\": \"1442410313750\", \"X\": \"2150.997000\", \"Y\": \"1100.088000\", \"Z\": \"undefined\", \"Drehzahl\": \"undefined\", \"NC\": \"undefined\" }","payloadType":"string","repeat":"","crontab":"","once":false,"x":206,"y":360,"z":"53c8489d.ac37b8","wires":[["44b95525.bb46ac"]]},{"id":"c1af6b62.3e5098","type":"debug","name":"","active":false,"console":"false","complete":"true","x":568,"y":367,"z":"53c8489d.ac37b8","wires":[]},{"id":"f782402f.087dc","type":"file","name":"Kreis_Geo.txt","filename":"Kreis_Geo.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":832,"y":208,"z":"53c8489d.ac37b8","wires":[]},{"id":"d8d752f9.2728b","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":1039,"y":437,"z":"53c8489d.ac37b8","wires":[]},{"id":"32ad7ba9.cd5284","type":"udp out","name":"Camera Streamer Command","addr":"localhost","iface":"","port":"1234","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1076,"y":534,"z":"53c8489d.ac37b8","wires":[]},{"id":"4ffef71f.b00108","type":"inject","name":"Camera Stream Status","topic":"","payload":"status","payloadType":"string","repeat":"","crontab":"","once":false,"x":785,"y":503,"z":"53c8489d.ac37b8","wires":[["32ad7ba9.cd5284"]]},{"id":"7432610e.8bcda","type":"udp in","name":"Camera Stream Output","iface":"","port":"1235","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":767,"y":444,"z":"53c8489d.ac37b8","wires":[["d8d752f9.2728b"]]},{"id":"1abc64e.fe5439b","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":963,"y":631,"z":"53c8489d.ac37b8","wires":[]},{"id":"b2ca2088.4d35e","type":"exec","command":"/home/eapps/streamsaver/bin/streamsaver","addpay":false,"append":"/home/eapps/streamsaver/config/config_from_nodered.ini","useSpawn":true,"name":"start StreamSaver","x":770,"y":635,"z":"53c8489d.ac37b8","wires":[["1abc64e.fe5439b"],[],[]]},{"id":"40450351.bfbafc","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":592,"y":635,"z":"53c8489d.ac37b8","wires":[["b2ca2088.4d35e"]]},{"id":"9339c2ad.6cc64","type":"exec","command":"killall streamsaver","addpay":true,"append":"","useSpawn":"","name":"stop StreamSaver","x":768,"y":703,"z":"53c8489d.ac37b8","wires":[[],[],[]]},{"id":"304a165d.cfb5ea","type":"inject","name":"Stop","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":594,"y":703,"z":"53c8489d.ac37b8","wires":[["9339c2ad.6cc64"]]},{"id":"611615f9.9ee9ec","type":"function","name":"Create Msg Save$Timestamp","func":"var newMsg = {};\nnewMsg.payload = \"save\" + Date.now();\nreturn newMsg;\n","outputs":1,"noerr":0,"x":765,"y":546,"z":"53c8489d.ac37b8","wires":[["32ad7ba9.cd5284"]]},{"id":"6a6f58ef.9590a8","type":"inject","name":"Camera Stream Save Now","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":492,"y":550,"z":"53c8489d.ac37b8","wires":[["611615f9.9ee9ec"]]},{"id":"9717670b.68e898","type":"file","name":"save sample config","filename":"/home/eapps/streamsaver/config/config_from_nodered.ini","appendNewline":true,"createDir":false,"overwriteFile":"true","x":857,"y":840,"z":"53c8489d.ac37b8","wires":[]},{"id":"73fad4c0.8c052c","type":"inject","name":"Save Config File Now","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":406,"y":841,"z":"53c8489d.ac37b8","wires":[["4c98d717.b36728"]]},{"id":"4c98d717.b36728","type":"function","name":"Edit Camera Config File","func":"msg.payload = \"[StreamingSource]\\n\";\nmsg.payload = msg.payload + \"RTP_IP = localhost\\n\";\nmsg.payload = msg.payload + \"RTP_PORT = 5004\\n\";\nmsg.payload = msg.payload + \"\\n\";\nmsg.payload = msg.payload + \"[StreamSavings]\\n\";\nmsg.payload = msg.payload + \"duration_sec = 30\\n\";\nmsg.payload = msg.payload + \"show_time = 1\\n\";\nmsg.payload = msg.payload + \"time_font_size = 0.6\\n\";\nmsg.payload = msg.payload + \"\\n\";\nmsg.payload = msg.payload + \"[FileOutput]\\n\";\nmsg.payload = msg.payload + \"output_folder = /home/eapps/Videos/\\n\";\nmsg.payload = msg.payload + \"fps = 30\\n\";\nmsg.payload = msg.payload + \"file_container = mkv\\n\";\nmsg.payload = msg.payload + \"\\n\";\nmsg.payload = msg.payload + \"[UDPTrigger]\\n\";\nmsg.payload = msg.payload + \"listen_IP = localhost\\n\";\nmsg.payload = msg.payload + \"listen_PORT = 1234\\n\";\nmsg.payload = msg.payload + \"answer_IP = localhost\\n\";\nmsg.payload = msg.payload + \"answer_PORT = 1235\\n\";\nmsg.payload = msg.payload + \"\\n\";\nmsg.payload = msg.payload + \"[RunningOptions]\\n\";\nmsg.payload = msg.payload + \"show_image = false\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":838,"z":"53c8489d.ac37b8","wires":[["9717670b.68e898"]]}]